<ion-content [fullscreen]="true">
  <div id="container">
    <div>
      <button (click)="requestPermission()">requestPermission</button>
    </div>
    <div>Location: {{ permission?.location }}</div>
    <div>Coarse Location: {{ permission?.coarseLocation }}</div>
    <div>
      <button (click)="geolocation()">geolocation.getCurrentPosition</button>
    </div>
    <div>Lat: {{ geolocationPosition?.coords?.latitude}}</div>
    <div>Long: {{ geolocationPosition?.coords?.longitude}}</div>
    <div>
      <button (click)="navigator()">navigator.getCurrentPosition</button>
    </div>
    <div>Lat: {{ navigatorPosition?.coords?.latitude}}</div>
    <div>Long: {{ navigatorPosition?.coords?.longitude}}</div>
  </div>
</ion-content>
